@import "tailwindcss";
@source "../../../packages/ui/src";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  font-family: 'Space Grotesk', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  background:  rgba(59, 130, 246, 0.2);

}



.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

